.canvas-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(45deg, rgb(230, 230, 230) 25%, transparent 0),
  linear-gradient(45deg, transparent 75%, rgb(230, 230, 230) 0),
  linear-gradient(45deg, rgb(230, 230, 230) 25%, transparent 0),
  linear-gradient(45deg, transparent 75%, rgb(230, 230, 230) 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px,
    15px 15px, 30px 30px;
}

.canvas-quality {
  display: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 5;
  &.is-show {
    display: block;
  }
}

.konva-guide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.konva-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  opacity: .2;
}

.konva-edit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.konva-preview {
  // display: none;
}