.canvas-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.konva-guide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.konva-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  opacity: .5;
}

.konva-preview {
  // display: none;
}