/* 変数 */
// コーポレートカラー
$color-yellow: #ff0;
// エラー・アラート(注意・警告)
$color-red: #f00;

/* mixin */
@mixin smartphone {
  @media (max-width: 768px) { 
  	@content; 
  }
}

@mixin pc {
  @media (min-width: 769px) {
  	@content;
  }
}

@mixin plain-text {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.5;
}

@mixin link-text {
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.5;
	text-decoration: none;
}

@mixin padding-all {
	padding: 16px;
}

@mixin padding-holizontal {
	padding: 0 16px;
}

@mixin padding-vertical {
	padding: 16px 0;
}

/* extend */
%button-reset {
	-webkit-appearance: none;
	background-color: transparent;
	padding: 0;
	border: 0;
	cursor: pointer;
}

%nav-structure {
	box-sizing: border-box;
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
}